extends shared/_master

block body
  div.table-responsive.table-hover
    table.table
      each exchange in data
        thead
          tr
            th=exchange.exchange
        each pair in exchange.result
          thead
            tr
              th=pair.pairName
            tr
              th open
              th high
              th low
              th close
              th Standard Deviation
              th BBLower
              th BBMiddle
              th BBUpper
              th SMA
              th EMA
              th KCLower
              th KCMiddle
              th KCUpper
          tbody
            if pair.pairData
              each opening, i in pair.pairData.openings
                tr
                  -let high = pair.pairData.highests[i];
                  -let low = pair.pairData.lowests[i];
                  -let close = pair.pairData.closings[i];
                  -let BBMiddle = pair.pairData.BB.middleBand[i];
                  -let BBUpper = pair.pairData.BB.upperBand[i];
                  -let BBLower = pair.pairData.BB.lowerBand[i];
                  -let SD = pair.pairData.SD[i];
                  -let SMA = pair.pairData.SMA[i];
                  -let EMA = pair.pairData.EMA[i];
                  -let KCLower = pair.pairData.KC.lowerKC[i];
                  -let KCMiddle = pair.pairData.KC.middleKC[i];
                  -let KCUpper = pair.pairData.KC.upperKC[i];
                  - if(KCUpper){
                    -const decimals = 2;
                    -SD = SD.toFixed(decimals);
                    -SMA = SMA.toFixed(decimals);
                    -EMA=EMA.toFixed(decimals);
                    -KCLower = KCLower.toFixed(decimals);
                    -KCMiddle = KCMiddle.toFixed(decimals);
                    -KCUpper = KCUpper.toFixed(decimals);
                  -}
                  td= opening
                  td= high
                  td= low
                  td= close
                  td= SD
                  td= BBLower
                  td= BBMiddle
                  td= BBUpper
                  td= SMA
                  td= EMA
                  td= KCLower
                  td= KCMiddle
                  td= KCUpper